/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: lightblue;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  color: lightcyan;
  height: 20%;
  border: 2px solid blue;
}

h2 {
  color: blue;
}

.lection {
  float: left;
  width: 60%;
  /* border: 2px solid black; */
  margin-bottom: 2%;
  padding-left: 15px;
}

section {

}

footer {
  clear: both;
  background-color: black;
  color: white;
  border: 2px solid blue;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-left: 15px;
  height: 18%;
}

footer h2 {
  color: gray;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
